55 9 * * * . /home/team/cron.env; psql -h huvalk.ru -p 8001 -U postgres -d electorator -f /home/team/electorator/cron/Tik_table.sql >/dev/null 2>&1
55 11 * * * . /home/team/cron.env; psql -h huvalk.ru -p 8001 -U postgres -d electorator -f /home/team/electorator/cron/Tik_table2.sql >/dev/null 2>&1
55 14 * * * . /home/team/cron.env; psql -h huvalk.ru -p 8001 -U postgres -d electorator -f /home/team/electorator/cron/Tik_table2.sql >/dev/null 2>&1
55 17 * * * . /home/team/cron.env; psql -h huvalk.ru -p 8001 -U postgres -d electorator -f /home/team/electorator/cron/Tik_table2.sql >/dev/null 2>&1
55 20 * * * . /home/team/cron.env; psql -h huvalk.ru -p 8001 -U postgres -d electorator -f /home/team/electorator/cron/Tik_table2.sql >/dev/null 2>&1
