.component-fade-enter-active {
  transition: opacity 1s ease-out;
}

.component-fade-leave-active {
  transition: opacity 1s ease-in;
}

.component-fade-enter-from,
.component-fade-leave-to {
  opacity: 0;
}